{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<section>
  <div class="text-center col-12">
    <div class="container center-div border w-50 py-5">
      <div class="title pb-4">
        <div >
          <h2>Home Page</h2>
          
        </div>
        <div>
           <h2>User Name: {{user}}</h2> 
        </div>
        
        <a class="btn btn-danger" href="/home/logout">Logout</a>
      </div>
    </div>
  </div>
</section>